<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="about--body tenor-sans-regular">
    <nav>
        <div class= "nav--iconCont">
            <img class="nav--icon" src="/images/flower.jpg" alt="wildflower" width="40px">
            <span>WF</span>
        </div>
       
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/states">States</a></li>
            <li><a href="/about">About</a></li> 
        </ul>
    </nav>
    <header>
        <h2> About Wildflowers</h2>
        <h3>
            The WildFlowers mission is to make planting native more accessible. 
        </h3>
    </header>
    <main>
        <h1 class="top">Why should we plant natively?</h1>
        <section class="about-grid topL">
            <img class="icon " src="/images/about-icons/bird.png" alt="">
            <h4>Wildlife</h4>
            <p>Conserves habitats for native species to the area, and in turn maintains the lives of the native wildlife</p>
        </section>
        <section class="about-grid topM">
            <img class="icon" src="/images/about-icons/flowers.png" alt="">
            <h4>Climate</h4>
            <p>Many native species are great at storing carbon dioxide, and since they have less maintainence, they will have a smaller carbon footprint compared to non-native plants</p>

        </section>
        <section class="about-grid topR">
            <img class="icon" src="/images/about-icons/water.png" alt="">
            <h4>Conserving Water</h4>
            <p>Native plants are adapted to the environment they are native to, they would need less resources to maintain like water</p>
        </section>
        <section class="about-grid botL">
            <img class="icon" src="/images/about-icons/cacti.png" alt="">
            <h4>Biodiversity</h4>
            <p>Helps provide genetic diveristy to nearby wild plant populations</p>
        </section>
        <section class="about-grid botM">
            <img class="icon" src="/images/about-icons/river.png" alt="">
            <h4>Healthier spaces</h4>
            <p>Native plants don't require fertilizers and pesticides that can be harmful to neigboring species including humans. With native plants the spaces are automatically a fresher place to engage with</p>
        </section>
        <section class="about-grid botR">
            <img class="icon" src="/images/about-icons/money.png" alt="">
            <h4>Cost</h4>
            <p>Less maintainence for water, fertilizers, pesticides and so on. Homeowners therefore have less to spend in order to have beautiful gardens while also supporting biodiverse plants</p>
        </section>     
    </main>
    <footer>
        <h5>Resources</h5>
       <span>Sourced from: <a href="https://github.com/sar-mko/wildflowers-api">Wildflowers API</a></span> 
       <p>With data from: <a href="https://www.americansouthwest.net/plants/wildflowers/index.html">American Southwest</a> </p>

        <p>Facts From: <a href="https://www.audubon.org/content/why-native-plants-matter">Audobon.org</a> , <a href="https://emswcd.org/native-plants/how-to-plant-native-plants/">EMSWCD.org</a> </p>
        Icon by <a href="https://www.freepik.com/free-vector/colorful-set-hand-drawn-flowers_6760362.htm#query=flower%20cartoon&position=17&from_view=keyword&track=ais&uuid=faef28e2-13a8-4ebf-86ca-33c56487b10f">Freepik</a>

    </footer>
    <script src="js/main.js"></script>
</body>
</html>